.App {
    text-align: center;
    display: block;
    margin: auto;
    background-color: rgb(255, 171, 35);
}

#selection-box {
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
    align-items: flex-start;
}

#choose-div, #chosen-div{
    padding: inherit;
}

#searchbar {
    margin: 1%;
}

#buttonremadd {
    display: grid;
    margin: 30%;
}

#chosen-courses li {
    display: list-item;
    align-content: flex-start;
}

#chosen-courses li::marker {
    color: red;
    color: hsl(30, 100, 50);
}

#all-courses li {
    display: list-item;
    align-content: flex-start;
}

#timetable-box {
    font-size: 1em;
    margin-top: 5%;
    overflow-x: auto;
}
.td-elem{
    overflow: hidden;
}

button.delete-button {
    width: 5%;
    height: 100%;
    background-color: red;
    color: red;
    align-self: start;

}

table,
th,
td {
    border: 1px solid;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

nav ul {
    display: block;
    height: 200px;
    width: 85%;
    margin: auto;
}

nav ul {
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

li:hover {
    background-color: antiquewhite;
}

select {
    margin: 0 0 0 2%;
}