.App {
    text-align: center;
    display: inline;
    width: 85%;
}

#selection-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    margin: auto;
}

#searchbar {
    margin: 0;
}

#buttonremadd {
    display: grid;
    margin: 30%;
}

#chosen-courses li::marker {
    color: red;
    color: hsl(30, 100, 50);
}

table,
th,
td {
    border: 1px solid;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

nav ul {
    display: block;
    height: 200px;
    width: 85%;
    margin: auto;
}

nav ul {
    overflow: hidden;
    overflow-y: scroll;
}

li:hover {
    background-color: antiquewhite;
}

select {
    margin: 0 0 0 2%;
}